.services{
    background-color: #152231;
}
.card-header{
    border-bottom: 1px solid rgba(248, 248, 255, 0.466) !important;
}
.card{
    background-color: rgba(0, 0, 0, 0.082) !important;
    border: none !important;
}
#immersions, #courses, #discovery{
    scroll-margin-top: 7.5rem;
}
br{
    margin-bottom: 1rem;
}
li{
    margin-bottom: 0.25rem;
}
.btn{
    box-shadow: none !important;
}
